<!-- <link rel="stylesheet" type="text/css" href="addDish.css" />

<h1>Add Chef Details</h1>
<div class="Add"> Item Category
    <input type="radio" id="Veg" name="Item_Category" value="Veg">
    <label for="Veg">Veg</label><br>
    <input type="radio" id="Non-Veg" name="Item_Category" value="Non-Veg">
    <label for="Non-Veg">Non-Veg</label><br>

</div>
<div> Item Name
    <input type="text" , id="itemname">
</div>
<div>Item Description
    <textarea id="ItemDescription"></textarea>
</div>
<div>Item Price
    <input type="text" , id="itemprice">
</div>
<div>Item Cuisine
    <input type="text" , id="itemcuisine">
</div>

<input type="file" id="ItemImage" name="ItemImageName">

<div>
    <input type="submit" value="Submit">
</div>
<div>



</div> -->